@font-face {
  font-family: "Serif";
  src: url("Serif12Beta-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Score";
  src: url("SCDream2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
